# Flask configurations
SECRET_KEY=
SECURITY_PASSWORD_SALT=

# Database configuration
# Leave blank for default local SQLite, or specify PostgreSQL URL for production
DATABASE_URL=

# Hermes Email API configurations
HERMES_BASE_URL=
HERMES_API_KEY=
HERMES_EMAILBOT_ID=

# Initial Bootstrap / Admin configurations
INITIAL_ADMIN_USERNAME=
INITIAL_ADMIN_EMAIL=

FLASK_DEBUG=0
